language: python
matrix:
  include:
    # Django 1.3: Python 2.6--2.7
    - python: "2.6"
      env: DJANGO=django==1.3
    - python: "2.7"
      env: DJANGO=django==1.3
    # Django 1.4: Python 2.6--2.7
    - python: "2.6"
      env: DJANGO=django==1.4
    - python: "2.7"
      env: DJANGO=django==1.4
    # Django 1.5: Python 2.7, pypy
    #   (As of Django 1.5, Python 2.6 no longer "highly recommended",
    #   and Python 3.2+ support was only "experimental", so skip those.)
    - python: "2.7"
      env: DJANGO=django==1.5
    - python: "pypy"
      env: DJANGO=django==1.5
    # Django 1.6: Python 2.7--3.3, pypy
    - python: "2.7"
      env: DJANGO=django==1.6
    - python: "3.2"
      env: DJANGO=django==1.6
    - python: "3.3"
      env: DJANGO=django==1.6
    - python: "pypy"
      env: DJANGO=django==1.6
    # Django 1.7: Python 2.7--3.4, pypy
    - python: "2.7"
      env: DJANGO=django==1.7
    - python: "3.2"
      env: DJANGO=django==1.7
    - python: "3.3"
      env: DJANGO=django==1.7
    - python: "3.4"
      env: DJANGO=django==1.7
    - python: "pypy"
      env: DJANGO=django==1.7
    # Django 1.8beta: tbd...
    # - python: "2.7"
    #   env: DJANGO=https://www.djangoproject.com/download/1.8b1/tarball/
install:
  - pip install -q $DJANGO
  - pip install .
script: python -Wall setup.py test
