{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block title %} Djrill Tags | {% trans "Django site admin" %}{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
         Djrill
      &rsaquo;
      Tags
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans %}Add sender{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

    <div class="module filtered" id="changelist">
        {% block search %} {% endblock %}

        {% block date_hierarchy %}{% endblock %}

      {% block filters %}
        {% include "djrill/_status.html" %}
      {% endblock %}

      {% block result_list %}
        {% if objects %}
        <div class="results">
            <table cellspacing="0" id="result_list">
                <thead>
                    <tr>
                        <th scope="col">Tag</th>
                        <th scope="col">ID</th>
                        <th scope="col">Sent</th>
                        <th scope="col">Opens</th>
                        <th scope="col">Clicks</th>
                        <th scope="col">Rejects</th>
                        <th scope="col">Bounces</th>
                        <th scope="col">Complaints</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in objects %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ result.tag }}</td>
                        <td>{{ result.id }}</td>
                        <td>{{ result.sent }}</td>
                        <td>{{ result.opens }}</td>
                        <td>{{ result.clicks }}</td>
                        <td>{{ result.rejects }}</td>
                        <td>{{ result.bounces }}</td>
                        <td>{{ result.complaints }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
      {% endblock %}
      {% block pagination %}{% endblock %}
    </div>
  </div>
{% endblock %}
